.contactus-bg-header {
    background-image: url("../images/header-contacts.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 25rem;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.contactus {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 6rem 0 3rem 0;
    gap: 8%;
    background-image: url("../images/about-13.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.contact-left {
    width: 46%;
}

.contact-right {
    width: 46%;
}

.contact-title {
    position: relative;
    line-height: 3rem;
    transition: .66s;
    opacity: 1;
    width: 100%;
    margin-bottom: 3rem;
}

.contact-title:after {
    content: "";
    position: absolute;
    width: 8rem;
    left: 0;
    top: 150%;
    height: 3px;
    background-color: rgb(199, 161, 122);
}

.contactus-form {
    padding: 3rem 0;
}

.contactus-input {
    width: 100%;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    margin-bottom: 1.66rem;
    background-color: #F2F0E9;
    border: none;
    outline: none;
    color: rgb(179, 141, 102);
}

.contactus-textarea {
    width: 100%;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    margin-bottom: 1.66rem;
    background-color: #F2F0E9;
    border: none;
    outline: none;
    color: rgb(199, 161, 122);
    height: 8rem;
}

.submit-box {
    width: 100%;
    text-align: right;
}

.contactus-submit {
    cursor: pointer;
}

.locations {
    padding: 3rem 0;
}

.location {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.location-image {
    width: 4rem;
    padding-right: 1.33rem;
}

.location-image img {
    width: 100%;
}

.location-title {
    margin-bottom: 1rem;
}
