.offer-bg-header {
    background-image: url("../images/offer-img-1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 25rem;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.offer-bg-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}

.offer {
    padding: 7rem 0 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.offer__item {
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.offer__item-image {
    width: 25%;
    padding: 1rem 1.33rem;
}

.offer__item-image img {
    width: 100%;
}

.offer__item-text {
    width: 75%;
}

.offer-title {
    position: relative;
    line-height: 3rem;
    transition: .66s;
    opacity: 1;
    width: 100%;
    margin-bottom: 1rem;
}

.guides {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.guide {
    width: 33.33%;
    padding: 4rem 4rem;
    background-color: #EAE7DE;
}

.guide1 {
    background-color: #C7A17A;
    background-image: url("../images/offer-3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.guide4 {
    background-color: #C7A17A;
    background-image: url("../images/offer-4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.guide5 {
    background-color: #EAE7DE;
    background-image: url("../images/logo-style.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/
}

.guide5 img {
    width: 75%;
}

.guide__image1 {
    width: 33.33%;
    background-image: url("../images/offer-3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}

.guide__image2 {
    width: 33.33%;
    background-image: url("../images/offer-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}

.guide__image img {
    width: 100%;
}

.guide__title {
    margin-bottom: 2rem;
}

.guide__link {
    padding: 2rem 0 0 0;
    font-weight: 600;
}

.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
}

.brand {
    width: 20%;
}

.brand img {
    width: 100%;
}