* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    background-color: rgb(253, 251, 245);
    font-weight: 400;
}

.ba-container {
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1320px) {
    .ba-container {
        padding: 0 20px;
    }
}